<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PhageOne: Editing Guide</title>
    <link rel="icon" href="../static/PhageOneLogo.jpg">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="jquery-3.4.1.min.js"></script>

  </head>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('home') }}">PhageOne</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{{ url_for('EditingGuide') }}">Editing Guides</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('BRED') }}">BRED Assistant</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('GenomeSynteny') }}">Genome Synteny</a>
    </li>

  </ul>

</body>
<script> 

</script>

</html>