<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PhageOne</title>
    <link rel="icon" href="../static/PhageOneLogo.jpg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="jquery-3.4.1.min.js"></script>

  </head>

<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">PhageOne</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('EditingGuide') }}">Editing Guides</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('BRED') }}">BRED Assistant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('GenomeSynteny') }}">Genome Synteny</a>
        </li>

      </ul>
      <br>
      <br>
      
        <div class="row">
          <div class="column" style="column-width: 20px;"></div>
          <div class="column"><img  src="../static/PhageOneLogo.jpg" style="width:120px;border:1px solid black;" alt="PhageOne Logo"></div>
          <div class="column" style="column-width: 10px;"></div>
          <div class="column"><h2>PhageOne: Phage Schematics and Engineering Tools</h2>
            This tool's two main facets are to assist biologists in engineering phage genomes and to act as a browser for users to gain a better understanding of phage genome organization.
          </div>
        </div>
        
    </div>

    <div class="col-sm-12">
      <hr class="solid">
      <h3>Tools</h3>
      <h4>Editing Guides</h4>

      <h4>BRED Assistant</h4>

      <h4>Genome Synteny</h4>
      

      <hr class="solid">
      <h3>Publication</h3>

      <hr class="solid">
      <h3>Downloads</h3>
      Application code accessible and commented research notebooks available at <a href="https://github.com/sky123martin/PhageOne"> https://github.com/sky123martin/PhageOne</a>

      <hr class="solid">
      <h3>Authors and Contributors</h3>
      Skylar Martin <br>
      Dr. Aaron Clauset <br>
      <br>
      In collaboration with the <a href="https://www.colorado.edu/atlas/living-matter-lab"> Living Matter Lab</a>:<br>
      Dreycey Albin <br>
      Dr. Mirela Alistar <br>
      <hr class="solid">
      For technical issues, bug reports, and code contributions, please use the github or email Skylar.Martin@colorado.edu
    </div>
  </div>
</body>
<script> 

</script>

</html>