<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PhageOne</title>
    <link rel="icon" href="../static/PhageOneLogo.jpg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
  </head>

<body>
  <br>
  <div class="container" style="width: 100%;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">PhageOne</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('EditingGuide') }}">Editing Guides</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('BRED') }}">BRED Material Generator</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('GenomeSynteny') }}">Genome Synteny</a>
    </li>
    
  </ul>
  <br>
  
  
    
        <img  ALIGN="left" HSPACE="10" VSPACE="10" src="../static/PhageOneLogo.jpg" style="width:120px;border:1px solid black;" alt="PhageOne Logo">
        <br> 
        <h2>PhageOne: Mycobacteriophage Engineering Tools</h2>
            These tools assist biologists design edits to phage genomes and then generate nessecary materials needed to make those edits using BRED.

    
      <br> <br> <br> 
      <h3>Tools</h3>
      <h4>Editing Guides</h4>

      <h4>BRED Assistant</h4>

      <h4>Genome Synteny</h4>
      

      <hr class="solid">
      <h3>Publication</h3>

      <hr class="solid">
      <h3>Downloads</h3>
      Application code accessible and commented research notebooks available at <a href="https://github.com/sky123martin/PhageOne"> https://github.com/sky123martin/PhageOne</a>

      <hr class="solid">
      <h3>Authors and Contributors</h3>
      Skylar Martin <br>
      Dr. Aaron Clauset <br>
      <br>
      In collaboration with the <a href="https://www.colorado.edu/atlas/living-matter-lab"> Living Matter Lab</a>:<br>
      Dreycey Albin <br>
      Dr. Mirela Alistar <br>
      <hr class="solid">
      For technical issues, bug reports, and code contributions, please use the github or email Skylar.Martin@colorado.edu
  </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<script> 

</script>

</html>