<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PhageOne</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="jquery-3.4.1.min.js"></script>

  </head>

<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">PhageOne</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Editing Guides</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('BRED') }}">BRED Assistant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Genome Roadmaps</a>
        </li>

      </ul>
      <div class="col-sm-9">
      <h2>PhageOne: Phage Schematics and Engineering Tools</h2>
      This tool's two main faucets are to assist biologists in engineering phage genomes and to act as a browser for users to gain a better understanding of phage genome organization.


      <hr class="solid">
      <h3>Tools</h3>
      <h4>Editing Guides</h4>

      <h4>BRED Assistant</h4>

      <h4>Genome Roadmaps</h4>
      

      <hr class="solid">
      <h3>Publication</h3>

      <hr class="solid">
      <h3>Downloads</h3>
      App code accesible and commeneted research notebooks avaliable at <a href="https://github.com/sky123martin/Phage_Genome_Organization"> https://github.com/sky123martin/Phage_Genome_Organization</a>>

      <hr class="solid">
      <h3>Authors and Contributors</h3>

    </div>
</body>
<script> 

</script>

</html>